---
layout: default
---
      <div class="home">
        <div class="content-col-wrapper">
          <div class="content-col">
            <div class="dummy">
              <p>Website for 28*Circle, a meetup in Toronto.<br>
              ２８サークル（にエイト）のホームページにようこそ。イベント情報は以降にあります。</p>

              <div id="instafeed"></div>

              <a href="#modal-one" class="btn btn-big">RSVP</a>

              <!-- Modal -->
              <div class="modal" id="modal-one" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-header">
                    <h2>Modal in CSS?</h2>
                    <a href="#close" class="btn-close" aria-hidden="true">×</a> <!--CHANGED TO "#close"-->
                  </div>
                  <div class="modal-body">
                    <p>One modal example here! :D</p>
                  </div>
                  <div class="modal-footer">
                    <a href="#close" class="btn">Nice!</a>  <!--CHANGED TO "#close"-->
                  </div>
                  </div>
                </div>
              </div>
<!-- /Modal -->

              <h3>Past Events</h3>
            </div>
              <ul class="post-list">{% for post in paginator.posts %}
              <div class="post-box">
                <div class="titlepost">
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  <!--<p>{{ post.content }}</p>-->
                </div>
                <div class="datepost">
                  <span class="post-meta">{{ post.date | date: "%-d %b %Y" }}</span>
                </div>{% endfor %}
                </div>
              </ul>
          </div>
        </div>
        <div class="pagination">{% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous"><b>Previous</b></a>{% else %}{% endif %}{% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next"><b>Next</b></a>{% else %}{% endif %}
        </div>
      </div>
      <div class="space"></div>
