---
layout: default
---
      <div class="home">
        <div class="content-col-wrapper">
          <div class="content-col">
            <div class="dummy">
              <p>28*Circle?? is a bilingual (English and Japanese) activity group/circle located in Toronto. Our main activity is our weekly board game meetup. Click below to RSVP for the next event!</p>
              <p>28(にエイト)サークルはトロントで毎週行われています。英語と日本語で会話をしながらボードゲームをするサークルです。参加希望の方はぜひ、以下のRSVPをクリックしてお気軽にご参加ください。</p>

              <div id="rsvp-container">
	              <div id="rsvp-box-left">
	              <p>Next Event - 次のイベント<br>
	              28 Game Night (28ゲームナイト)<br>
	              Tuesday November 10th - 11月10日火曜日</p>
	              </div>
	              <div id="rsvp-box-right">
		              <a href="https://www.facebook.com/events/1676228689255476/" class="btn btn-big">RSVP on Facebook(要約)</a>
	              </div>
              </div>
            </div>
              <div id="picture-box">
              <h3>Pictures</h3>
              <div id="instafeed"></div>
              </div>

            <div id="past-events">
              <h3>Past Events</h3>
              <ul class="post-list">{% for post in paginator.posts %}
              <div class="post-box">
                <div class="titlepost">
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </div>
                <div class="datepost">
                  <span class="post-meta">{{ post.date | date: "%-d %b %Y" }}</span>
                </div>{% endfor %}
                </div>
              </ul>
          </div>
          </div>
        </div>
        <div class="pagination">{% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous"><b>Previous</b></a>{% else %}{% endif %}{% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next"><b>Next</b></a>{% else %}{% endif %}
        </div>
      </div>
      <div class="space"></div>
      <script type="text/javascript">
        var userFeed = new Instafeed({
            get: 'user',
            userId: 2205465790,
            accessToken: '2205465790.467ede5.0a2c730586d14fb397dfc34219ac3f47',
            resolution: 'thumbnail',
            sortBy: 'random',
            limit: 10
        });
        userFeed.run();
      </script>
