<header class="site-header">
<div class="wrapper">
  <div id="header-box">
  		<ul class="main-nav">
  			<li>
  			<a id="logo" href="{{ site.baseurl }}/"><img src="http://rudorufu.com/files/images/28logo-large.png"/></a>
  			</li>
  		<li class="burger-menu">
		<input class="burger-check" id="burger-check" type="checkbox"><label for="burger-check" class="burger"></label>
		<nav id="navigation1" class="navigation">
		  <ul>
		  	<li><a href="/">🏠 Home - ホーム</a></li>
		    <li><a href="contact.html">✉ Contact - 連絡</a></li>
		  </ul>
		</nav>
		</li>
		</ul>
  </div>
</div>
</header>
