  			<div class="off-canvas-wrap" data-offcanvas>
  				<div class="inner-wrap">
<header class="site-header">
<div class="wrapper">
  <div id="header-box">
  		<ul class="main-nav">
  			<li>
  			<a id="logo" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/28logo-large.png"/></a>
  			</li>
  			<li>
  					  			<nav class="tab-bar">
		  			<section class="right-small">
		  				<a class="right-off-canvas-toggle menu-icon"><span></span></a>
		  			</section>
	  			</nav>
	  			<aside class="right-off-canvas-menu">
		  			<ul class="off-canvas-list">
					  	<li><a href="/">&#127968; Home - ホーム</a></li>
					    <li><a href="{{ "/contact.html" | prepend: site.baseurl }}">&#128231; Contact - 連絡</a></li>
				  </ul>
			  </aside>
			  <a class="exit-off-canvas"></a>
  			</li>

<!-- 	  		<li class="burger-menu">
			<input class="burger-check" id="burger-check" type="checkbox"><label for="burger-check" class="burger"></label>
			<nav id="navigation1" class="navigation">
			  <ul>
			  	<li><a href="/">&#127968; Home - ホーム</a></li>
			    <li><a href="{{ "/contact.html" | prepend: site.baseurl }}">&#128231; Contact - 連絡</a></li>
			  </ul>
			</nav>
			</li> -->
		</ul>
  </div>
</div>
</header>
