  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="title" content="28*Circle">
    <meta property="description" content="28*Circle is a bilingual (English and Japanese) activity group/circle located in Toronto. Our main activity is our weekly board game meetup.
    28(にエイト)サークルはトロントで毎週行われています。英語と日本語で会話をしながらボードゲームをするサークルです。">
    <meta property="og:type" content="website" />

    <meta property="og:title" content="28*Circle">
    <meta property="og:site_name" content="28*Circle - 日本語・英語サークル">
    <meta property="og:url" content="http://www.28circle.info">
    <meta property="og:image" content="http://www.28circle.info/img/28logo-large-square.png"/>
    <meta property="og:description" content="28*Circle is a bilingual (English and Japanese) activity group/circle located in Toronto. Our main activity is our weekly board game meetup.

    28(にエイト)サークルはトロントで毎週行われています。英語と日本語で会話をしながらボードゲームをするサークルです。">

    <link href="{{ "/css/main.css" | prepend: site.baseurl }}" rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="{{ "/js/instafeed.min.js" | prepend: site.baseurl }}"></script>
    <link href="/favicon.png" rel="icon">
    <link href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" rel="canonical" >
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  </head>
