  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="title" content="{{site.title}} - {{page.title}}">
    <meta property="description" content="{% if page.description %}{{page.description}}{%else%}{{site.description}}{%endif%}">
    <meta property="og:url" content="{{site.baseurl}}{{ page.url }}"/>
    <meta property="og:site_name" content="{{ site.title }} - {{ site.subtitle }}"/>
    <meta property="og:title" content="{{site.title}} - {{page.title}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ site.baseurl }}/img/28logo-large-square.png"/>
    <meta property="og:locale" content="en_us"/>
    <meta property="og:description" content="{% if page.description %}{{page.description}}{%else%}{{site.description}}{%endif%}"/>
      <link rel="stylesheet" href="{{ "/css/foundation.min.css" | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" type='text/css' />
    <link href="/favicon.png" rel="icon">
    <link href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" rel="canonical" >
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    {% seo %}
  </head>
